
<ion-view>
  <!--<ion-nav-bar class="bar-royal">
    <ion-nav-buttons side="left">
      <label class="item-input item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search">
      </label>

    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-clear">
        Cancel
      </button>
      <button class="button button-clear">
        <i class="icon ion-levels"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>-->

  <ion-content>
    <div id="map" data-tap-disabled="true"></div>
  </ion-content>
  <ion-floating-button click="centerOnMe()" has-footer="true" button-color="#886aea" icon="ion-navigate" iconColor="#fff">
  </ion-floating-button>
</ion-view>
