<ion-view view-title="Add Card" hide-back-button="false" hide-nav-bar="">
  <ion-nav-buttons side="right">
    <button class="button button-transparent" ng-click="saveData()">
      Save
    </button>
  </ion-nav-buttons>
  <ion-content class="profile-settings">
    <div class="list ">

      <div class="item">
        Credit card number
      </div>
      <div class="item">
        Expiration date
      </div>
      <div class="item item-icon-right">
        CW
        <i class="icon ion-ios-information-outline"></i>
      </div>
      <div class="item">
        Zip code
      </div>

    </div>
  </ion-content>

</ion-view>
