<ion-view view-title="{{'FILTER_PAGE_TITLE' | translate}}" hide-back-button="false">
  <ion-nav-buttons side="secondary">
    <button class="button back-button buttons button-clear header-item" ng-click="applyFilters()">
      Apply filters
    </button>
  </ion-nav-buttons>
  <ion-content class="filters">
      <ion-list>
        <div class="item item-divider">
          Beauty Services
        </div>
        <ion-radio ng-repeat="item in filterValues.categories"
                   ng-value="item"
                   ng-checked="item === filters.category"
                   ng-model="filters.category">
          {{ item }}
        </ion-radio>

        <div class="item item-divider">
          Price
        </div>
        <!--<label class="item item-input item-select">
          <div class="input-label">
            Price
          </div>

          <select ng-model="data.price"
                  ng-options="c.label for c in filterValues.priceRanges"
                  ng-change="updatePriceFilter()"></select>
        </label>-->


        <div class="item item-divider">
          Minimum rating
        </div>
        <div class="item item-text-wrap">
          <rating ng-model="filters.rating" max="filterValues.rating.max"></rating>
        </div>
        <div class="item item-divider">
          Distance: <span class="royal">{{filters.distance}}km</span>
        </div>
        <div class="item range range-royal">
          <i class="icon ion-ios-location-outline"></i>
          <input type="range" name="distance" min="{{filterValues.distance.min}}" max="{{filterValues.distance.max}}"
               value="filters.distance"
               ng-model="filters.distance">
           <i class="icon ion-ios-location"></i>
        </div>

      </ion-list>
  </ion-content>

</ion-view>
