<ion-view view-title="Change password" hide-back-button="false" hide-nav-bar="">
  <ion-nav-buttons side="right">
    <button class="button button-transparent" ng-click="saveData()">
      Save
    </button>
  </ion-nav-buttons>
  <ion-content class="profile-settings">

    <div class="list change-password">
      <label class="item item-input">
        <i class="icon ion-locked placeholder-icon"></i>
        <input type="text" placeholder="Current password">
      </label>
    </div>

    <div class="list change-password">
      <label class="item item-input">
        <i class="icon ion-locked placeholder-icon"></i>
        <input type="text" placeholder="New password">
      </label>
      <label class="item item-input">
        <i class="icon ion-locked placeholder-icon"></i>
        <input type="text" placeholder="New password, again">
      </label>
    </div>

  </ion-content>

</ion-view>
