<ion-view hide-back-button="false" hide-nav-bar="true" >
  <ion-content class="sign-up" scroll="false">
    <div class="img-block ">
      <img class="background" src="img/background.jpg">
      <img class="plus" src="img/plus.png">
      <img class="logo " src="img/logo.png">
    </div>
    <div class="bottom-content">
      <div class="buttons">
        <button class="button ion-social-facebook icon-left button-full button-positive">
          Sign up with <b>Facebook</b>
        </button>
        <button class="button ion-email icon-left button-full button-royal" ng-click="signUpEmail()">
          Sign up with <b>Email</b>
        </button>
      </div>
      <div class="bottom-text text-center">
        <small class="">
          Already have an account?
        </small>
        <h3 ng-click="goToLoginPage()">Sign in</h3>
        <span>Visit our Website to Sign up as a beautician...</span>
      </div>
    </div>
  </ion-content>
</ion-view>
