<ion-view hide-nav-bar="true">
  <ion-content class="sign-up ">



<div class="img-block ">
  <img class="background" src="img/background.jpg">
  <img class="plus" src="img/plus.png">
  <img class="logo" src="img/logo.png">
</div>


    <div class="bottom-content">
      <div class="buttons">
        <button class="button ion-social-facebook icon-left button-full button-positive">
          Sign in with <b>Facebook</b>
        </button>
        <button class="button ion-email icon-left button-full button-royal" ng-click="goToEmail()">
          Sign in with <b>Email</b>
        </button>
      </div>
      <div class="bottom-text text-center">
        <small class="">
          First time user?
        </small>
        <h3 ng-click="goToSignUp()">Create your account</h3>
        <span>visit our Website to Sign up as a beautician...</span>
      </div>
    </div>

  </ion-content>
</ion-view>
