<ion-view view-title="Filter Appointments" hide-back-button="false">
  <ion-content class="profile-settings">
      <ion-list class="payments-cards">
        <div class="item item-divider">
          Filter Appointments
        </div>
        <ion-radio class="item item-icon-right" ng-model="filter" ng-value="date_time">
          By date/time
        </ion-radio>

        <ion-radio class="item item-icon-right" ng-model="filter" ng-value="service">
          By service
        </ion-radio>

      </ion-list>
  </ion-content>

</ion-view>
