<ion-view hide-nav-bar="true" hide-back-button="false">
  <ion-content class="sign-up " >
    <div class="img-block " >
      <img class="background" src="img/background.jpg">
      <img class="plus" src="img/plus.png">
      <img class="logo logo-up" src="img/logo.png">
    </div>

    <form class="sign-up-form list"    name="signUpFacebook" ng-controller="SignupCtrl"
          autocomplete="off"
          ng-submit="submitFormFacebook(signUpFacebook.$valid)">

      <div class="card">
        <div class="item item-text-wrap">
          To finish registration you need enter your user name and password
        </div>
      </div>
      <!--<div class="form-errors">-->
        <!--<div class="form-error energized"-->
             <!--ng-show="signUpEmail.name.$error.pattern">-->
          <!--First name may only contain letters, spaces, and simple punctuation-->
        <!--</div>-->
        <!--<div class="form-error energized"-->
             <!--ng-show="signUpEmail.email.$error.email">-->
          <!--not valid email-->
        <!--</div>-->
        <!--<div class="form-error energized"-->
             <!--ng-show="error === 'duplicate'">-->
          <!--Email already exists-->
        <!--</div>-->
        <!--<div class="form-error energized" ng-show="signUpEmail.handle.$dirty && !isHandleAvailable">-->
          <!--Username taken-->
        <!--</div>-->
        <!--<div class="form-error energized" ng-show="!signUpEmail.password.$error.required && (signUpEmail.password.$error.minlength || signUpEmail.password.$error.maxlength)">-->
          <!--Password must be at least 6 characters long</div>-->
        <!--<div class="form-error energized"-->
             <!--ng-show="!signUpEmail.password.$error.required && !signUpEmail.password.$error.minlength && !signUpEmail.password.$error.maxlength && signUpEmail.password.$error.pattern">-->
          <!--Password should contain atleast 1 number and 1 letter-->
        <!--</div>-->
        <!--<div class="form-error energized"-->
             <!--ng-show="signUpEmail.confirm_password.$error.passwordVerify">-->
          <!--Passwords don't match-->
        <!--</div>-->
        <!--<div class="form-error energized"-->
             <!--ng-show="signUpEmail.language.$error">-->
          <!--Language not selected-->
        <!--</div>-->
      <!--</div>-->


      <label class="item item-input">
        <span class="input-label">Username<sup>*</sup></span>
        <input type="text" placeholder="Enter your username"
               autocorrect="off"
               autcomplete="off"
               autocapitalize="off"
               spellcheck="false"
               name="username"
               ng-model="facebookUser.username"
               tabindex="1"
               value="@"
               requred>
      </label>

      <label class="item item-input">
        <span class="input-label">Password<sup>*</sup></span>
        <input type="password" placeholder="Enter your password"
               name="password"
               ng-model="facebookUser.password"
               tabindex="2" ng-minlength="6"
               ng-pattern="/^.(?=.*\d)(?=.+[a-zA-Z])/"
               required>
      </label>
      <label class="item item-input">
        <span class="input-label">Confirm password<sup>*</sup></span>
        <input type="password" placeholder="Confirm your password" name="confirm_password"
               ng-model="confirmpass"
               tabindex="3"
               ng-pattern="/^.(?=.*\d)(?=.+[a-zA-Z])/"
               data-password-verify="facebookUser.password"
               required>
      </label>
      <button class="button button-block button-royal activated" type="submit"
              ng-disabled="signUpFacebook.$invalid"
              tabindex="5"
              required>Finish registration
      </button>
      <!--<div class="row bottom-buttons">-->
        <!--<div class="col ">Forgot password?</div>-->
        <!--<div class="col text-right" ng-click="goToLoginPage()">Already have an account</div>-->
      <!--</div>-->
    </form>
  </ion-content>
</ion-view>
