<ion-view view-title="">
  <!--<ion-nav-title>{{''}}</ion-nav-title>-->
  <ion-nav-buttons side="right">
    <button class="button button-clear button-light" ng-click="openSettings()">
      <i class="icon ion-gear-a"></i>
    </button>
  </ion-nav-buttons>
  <ion-content class="profile-page">
    <div class="list card">

      <div class="top-content item item-avatar ">
        <!--<div class="ion-gear-a" ng-click="openSettings()"></div>-->
        <img ng-src="{{ user.profile_picture.s70 || 'img/no_avatar.jpg'}}">
        <h2>{{user.name}} {{user.name}}</h2>
        <p>{{user.username}} Member since  {{user.created_at}}</p>
      </div>

      <div class="item item-body">
        <!--<img class="full-image" src="delorean.jpg">-->
        <h2>About</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultricies tortor ac tempor molesti...
        </p>
        <!--<p>-->
          <!--<a  class="subdued">1 Like</a>-->
          <!--<a  class="subdued">5 Comments</a>-->
        <!--</p>-->
        <div class="list list-photo">

          <a class="item " >
            <img src="img/photo.jpg">
          </a>
          <a class="item " >
            <img src="img/photo.jpg">
          </a>
          <a class="item add-photo" >
            Add photo
          </a>
        </div>
        <h2>Customer Reviews</h2>
        <div class="list list-reviews">

          <a class="item item-thumbnail-left" >
            <img src="img/photo.jpg">
            <h2>Valentina Simon</h2>
            <ul class="rate">
              <li class="ion-ios-star" data-pack="ios" data-tags="favorite, rate"></li>
              <li class="ion-ios-star" data-pack="ios" data-tags="favorite, rate"></li>
              <li class="ion-ios-star" data-pack="ios" data-tags="favorite, rate"></li>
              <li class="ion-ios-star" data-pack="ios" data-tags="favorite, rate"></li>
              <li class="ion-ios-star" data-pack="ios" data-tags="favorite, rate"></li>
            </ul>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultricies tortor ac tempor molesti...</p>
          </a>
          <a class="item item-thumbnail-left" >
            <img src="img/photo.jpg">
            <h2>Valentina Simon</h2>
            <ul class="rate">
              <li class="ion-ios-star" data-pack="ios" data-tags="favorite, rate"></li>
              <li class="ion-ios-star" data-pack="ios" data-tags="favorite, rate"></li>
              <li class="ion-ios-star" data-pack="ios" data-tags="favorite, rate"></li>
              <li class="ion-ios-star" data-pack="ios" data-tags="favorite, rate"></li>
              <li class="ion-ios-star" data-pack="ios" data-tags="favorite, rate"></li>
            </ul>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultricies tortor ac tempor molesti...</p>
          </a>
          <a class="item item-thumbnail-left" >
            <img src="img/photo.jpg">
            <h2>Valentina Simon</h2>
            <ul class="rate">
              <li class="ion-ios-star" data-pack="ios" data-tags="favorite, rate"></li>
              <li class="ion-ios-star" data-pack="ios" data-tags="favorite, rate"></li>
              <li class="ion-ios-star" data-pack="ios" data-tags="favorite, rate"></li>
              <li class="ion-ios-star" data-pack="ios" data-tags="favorite, rate"></li>
              <li class="ion-ios-star" data-pack="ios" data-tags="favorite, rate"></li>
            </ul>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultricies tortor ac tempor molesti...</p>
          </a>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>
