<ion-view view-title="Change password" hide-back-button="false" hide-nav-bar="">
  <ion-nav-buttons side="right">
    <!--<button class="button button-transparent" ng-click="changePassword(changePassword.$valid)">-->
      <!--Save-->
    <!--</button>-->
  </ion-nav-buttons>
  <ion-content class="profile-settings">
<form name="changePassword" ng-controller="AccountCtrl"
      autocomplete="off"
      ng-submit="submitForm(changePassword.$valid)">
  <div class="list change-password">
    <label class="item item-input">
      <i class="icon ion-locked placeholder-icon"></i>
      <input type="password" placeholder="Current password"
             autocorrect="off"
             autcomplete="off"
             autocapitalize="off"
             spellcheck="false"
             name="current_password"
             ng-model="ChPassword.current_password"
             tabindex="1"
             value=""
             requred>
    </label>
  </div>

  <div class="list change-password">
    <label class="item item-input">
      <i class="icon ion-locked placeholder-icon"></i>
      <input type="password" placeholder="New password"
             autocorrect="off"
             autcomplete="off"
             autocapitalize="off"
             spellcheck="false"
             name="password"
             ng-model="ChPassword.password"
             tabindex="2"
             value=""
             requred>
    </label>
    <label class="item item-input">
      <i class="icon ion-locked placeholder-icon"></i>
      <input type="password" placeholder="New password, again"
             autocorrect="off"
             autcomplete="off"
             autocapitalize="off"
             spellcheck="false"
             name="confirm_password"
             ng-model="ChPassword.confirm_password"
             tabindex="3"
             value=""
             requred>
    </label>
  </div>
  <button class="button button-block button-royal activated" type="submit"
          ng-disabled="changePassword.$invalid"
          tabindex="5"
          required>Sign in
  </button>
</form>


  </ion-content>

</ion-view>
