
<ion-view view-title="">
  <!--<ion-nav-title>{{''}}</ion-nav-title>-->
  <ion-nav-buttons side="left">
    <label class=" item item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" ng-model="$root.location" g-places-autocomplete placeholder="{{ 'MAP.SEARCH_PLACEHOLDER' | translate }}">
    </label>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button button-clear button-light" href="#/tab/map/filters">
      <i class="icon ion-levels"></i>
    </a>
  </ion-nav-buttons>

  <ion-content class="has-header" scroll="false" data-tap-disabled="true">
    <ui-gmap-google-map center="map.center"
                        draggable="true"
                        zoom="map.zoom"
                        options="map.options"
                        pan="true"
                        events="map.events">
        <ui-gmap-window show="marker.show"
                        ng-repeat="marker in map.markers"
                        coords="marker.coords"
                        options="marker.windowOptions"
                        closeClick="markerClose(marker)"
                        templateUrl="map.windowTemplate"
                        templateParameter="map.windowParameter(marker)"
                        ng-cloak="ng-cloak">
        </ui-gmap-window>
        <ui-gmap-window show="curentPosition.show"
                        ng-repeat="curentPosition in curentPosition"
                        coords="curentPosition.coords"
                        options="curentPosition.windowOptions"
                        closeClick="markerClose(curentPosition)"
                        templateUrl="curentPosition.windowTemplate"
                        templateParameter="curentPosition.windowParameter(curentPosition)"
                        ng-cloak="ng-cloak">
        </ui-gmap-window>
    </ui-gmap-google-map>
  </ion-content>
  <ion-floating-button click="centerOnMe()" has-footer="true" button-color="#886aea" icon="ion-navigate" iconColor="#fff">
  </ion-floating-button>
</ion-view>
