
<ion-view view-title="{{'ACCOUNT.SETTINGS_TITLE' | translate}}">
  <!--<ion-nav-title>{{'ACCOUNT.SETTINGS_TITLE' | translate}}</ion-nav-title>-->
  <ion-nav-buttons side="right">
    <button class="button button-transparent " ng-click="clickOnSubmitUpdate()" >
      {{'SAVE' | translate}}
    </button>
  </ion-nav-buttons>
  <ion-content class="profile-settings">
    <form name="userSettings" ng-submit="submitFormUpdate(userSettings.$valid)" on-tap="onTap(event)">


      <div class="item item-divider">
        {{'ACCOUNT.PROFILE' | translate}}
      </div>
      <div class="list">
        <a class="item item-icon-left">
          <i class="icon ion-person"></i>
          {{user.name}} {{user.surname}}

        </a>

        <div class="profile-picture" ng-click="changePicture()">
          <img ng-src="{{ userData.profile_picture.s70 || 'img/no_avatar.jpg'}}">

          <div>{{'ACCOUNT.EDIT' | translate}}</div>
        </div>
        <a class="item item-icon-left ">
          <i class="icon ion-at"></i>
          {{user.username}}

        </a>

        <a class="item item-icon-left" ng-click="toggleField();focusInput=true">
          <i class="icon ion-compose"></i>
          Bio <span ng-if="userData.bio">...</span>
          <!--<span class="item-note">-->
          <!--Grammy-->
          <!--</span>-->

        </a>
        <textarea rows="10" ng-if="openField" autocorrect="off"
                  autcomplete="off"
                  autocapitalize="off"
                  spellcheck="false"
                  name="bio"
                  ng-model="userData.bio"
                  tabindex="1"
                  value=""
                  ng-blur="toggleField($event)"
                  ng-minlength="5"
                  required
                  focus-me="focusInput"></textarea>
        <button class="button button-transparent"  style="display:none" id="save-button" ng-click="submitFormUpdate(userSettings.$valid)" >
          {{'SAVE' | translate}}
        </button>
        <div class="item item-divider">
          {{'ACCOUNT.ACCOUNT' | translate}}
        </div>
        <a class="item item-icon-left">
          <i class="icon ion-email"></i>
          {{user.email}}
        </a>

        <a class="item item-icon-left item-icon-right" ng-click="openSettingsPayments()">
          <i class="icon ion-card"></i>
          {{'ACCOUNT.PAYMENTS' | translate}}
          <i class="icon  ion-ios-arrow-forward"></i>
        </a>

        <a class="item item-icon-left item-icon-right" ng-click="openSettingsChangePass()">
          <i class="icon ion-locked"></i>
          {{'ACCOUNT.CHANGE_PASS' | translate}}
          <i class="icon  ion-ios-arrow-forward"></i>
        </a>

        <!--<a class="item item-icon-left " ng-cliion-android-globeck="openSettingsChangePass()">-->
        <!--&lt;!&ndash;<i class="icon ion-android-globe">  Language<sup>*</sup></i>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="input-label">&ndash;&gt;-->
        <!--&lt;!&ndash;&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--<select class="item item-icon-left "  required tabindex="7" ng-model="language">-->
        <!--<option></option>-->
        <!--<option>English</option>-->
        <!--<option>French</option>-->
        <!--</select >-->
        <!--</a>-->

        <label class="item item-input item-select item-icon-left ">
          <i class="icon ion-android-globe"></i>
          <div class="input-label">
            {{'LANGUAGE' | translate}}
          </div>
          <select required tabindex="7" ng-model="data.language" ng-change="setLanguage(data.language)">
            <option value="" disabled hidden></option>
            <option value="en">English</option>
            <option value="fr">French</option>
          </select>
        </label>

        <div class="item item-divider">
          {{'ACCOUNT.SUPPORT' | translate}}
        </div>
        <a class="item item-icon-right" ng-click="goToSettingsHelp()">
          {{'ACCOUNT.HELP' | translate}}
          <i class="icon  ion-ios-arrow-forward"></i>
        </a>
        <a class="item item-icon-right" ng-click="goToSettingsAbout()">
          {{'ACCOUNT.ABOUT' | translate}}
          <i class="icon  ion-ios-arrow-forward"></i>
        </a>
        <a class="item item-icon-right" ng-click="goToSettingsPolicy()">
          {{'ACCOUNT.PRIVACY' | translate}}
          <i class="icon  ion-ios-arrow-forward"></i>
        </a>
        <a class="item item-icon-right" ng-click="goToSettingsTerms()">
          {{'ACCOUNT.TERMS' | translate}}
          <i class="icon  ion-ios-arrow-forward"></i>
        </a>

        <div class="item item-divider">

        </div>
        <a class="item item-icon-right" ng-click="signOut()">
          {{'ACCOUNT.SIGN_OUT' | translate}}
          <i class="icon  ion-ios-arrow-forward"></i>
        </a>
      </div>
    </form>
  </ion-content>

</ion-view>
