<ion-view view-title="Account" hide-nav-bar="true">
  <ion-content class="profile-page">
    <div class="list card">

      <div class="top-content item item-avatar ">
        <div class="ion-gear-a" ng-click="openSettings()"></div>
        <img src="img/avatar2.jpg">
        <h2>User Profile</h2>
        <p>@valsimon Member since 2015</p>
      </div>

      <div class="item item-body">
        <!--<img class="full-image" src="delorean.jpg">-->
        <h2>About</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultricies tortor ac tempor molesti...
        </p>
        <!--<p>-->
          <!--<a href="#" class="subdued">1 Like</a>-->
          <!--<a href="#" class="subdued">5 Comments</a>-->
        <!--</p>-->
        <div class="list list-photo">

          <a class="item " href="#">
            <img src="img/photo.jpg">
          </a>
          <a class="item " href="#">
            <img src="img/photo.jpg">
          </a>
          <a class="item add-photo" href="#">
            Add photo
          </a>
        </div>
        <h2>Customer Reviews</h2>
        <div class="list list-reviews">

          <a class="item item-thumbnail-left" href="#">
            <img src="img/photo.jpg">
            <h2>Valentina Simon</h2>
            <ul class="rate">
              <li class="ion-ios-star" data-pack="ios" data-tags="favorite, rate"></li>
              <li class="ion-ios-star" data-pack="ios" data-tags="favorite, rate"></li>
              <li class="ion-ios-star" data-pack="ios" data-tags="favorite, rate"></li>
              <li class="ion-ios-star" data-pack="ios" data-tags="favorite, rate"></li>
              <li class="ion-ios-star" data-pack="ios" data-tags="favorite, rate"></li>
            </ul>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultricies tortor ac tempor molesti...</p>
          </a>
          <a class="item item-thumbnail-left" href="#">
            <img src="img/photo.jpg">
            <h2>Valentina Simon</h2>
            <ul class="rate">
              <li class="ion-ios-star" data-pack="ios" data-tags="favorite, rate"></li>
              <li class="ion-ios-star" data-pack="ios" data-tags="favorite, rate"></li>
              <li class="ion-ios-star" data-pack="ios" data-tags="favorite, rate"></li>
              <li class="ion-ios-star" data-pack="ios" data-tags="favorite, rate"></li>
              <li class="ion-ios-star" data-pack="ios" data-tags="favorite, rate"></li>
            </ul>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultricies tortor ac tempor molesti...</p>
          </a>
          <a class="item item-thumbnail-left" href="#">
            <img src="img/photo.jpg">
            <h2>Valentina Simon</h2>
            <ul class="rate">
              <li class="ion-ios-star" data-pack="ios" data-tags="favorite, rate"></li>
              <li class="ion-ios-star" data-pack="ios" data-tags="favorite, rate"></li>
              <li class="ion-ios-star" data-pack="ios" data-tags="favorite, rate"></li>
              <li class="ion-ios-star" data-pack="ios" data-tags="favorite, rate"></li>
              <li class="ion-ios-star" data-pack="ios" data-tags="favorite, rate"></li>
            </ul>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultricies tortor ac tempor molesti...</p>
          </a>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>
