
<ion-view hide-nav-bar="true">
<!--<ion-view>-->

  <!--<ion-nav-bar class="bar-royal">
    <ion-nav-buttons side="secondary">
      <button class="button button-icon icon ion-ios-search-strong" ng-click="showFilterBar()">
      </button>
      <button class="button button-clear">
        <i class="icon ion-levels"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>-->

  <div class="bar bar-header item-input-inset bar-royal">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" ng-model="location" g-places-autocomplete placeholder="Search by city, zip">
    </label>
    <button class="button button-clear">
      <i class="icon ion-levels"></i>
    </button>
  </div>

  <!--<ion-nav-bar class="bar-royal">
    <ion-nav-buttons>
      <label class="item-input item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" ng-model="location" g-places-autocomplete placeholder="Search by city, zip">
      </label>


      <button class="button button-clear">
        <i class="icon ion-levels"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>-->

  <input ion-autocomplete ng ng-model="location" type="text" readonly="readonly" class="ion-autocomplete" autocomplete="off" max-selected-items="1" />
  <ion-content>
    <div id="map" data-tap-disabled="true"></div>
  </ion-content>
  <ion-floating-button click="centerOnMe()" has-footer="true" button-color="#886aea" icon="ion-navigate" iconColor="#fff">
  </ion-floating-button>
</ion-view>
