<ion-view view-title="{{'FILTERS.VIEW_TITLE' | translate}}">
  <!--<ion-nav-title>{{'FILTERS.VIEW_TITLE' | translate}}</ion-nav-title>-->
  <!--<ion-nav-buttons side="secondary">
    <button class="button button-clear header-item button-light" ng-click="applyFilters()">
      Apply filters
    </button>
  </ion-nav-buttons>-->
  <ion-content class="filters">
      <ion-list>
        <div class="item item-divider">
          Beauty Services
        </div>
        <!--<ion-radio ng-repeat="item in filterValues.categories"
                   ng-value="item"
                   ng-checked="item === filters.category"
                   ng-model="filters.category">
          {{ item }}
        </ion-radio>-->

        <div  class="row services">
          <a ng-click="chooseCategory($index)" ng-repeat="item in filterValues.categories"
             class="col col-25 services-item">
            <img src="../img/icons-filter/{{item}}.png">
            <span>  {{item}}</span>
          </a>

        </div>

        <div class="item item-divider">
          Price
        </div>
        <div class="button-bar price-bar">
          <a ng-repeat="item in filterValues.priceRanges track by $index"
             class="button"
             ng-click="updatePriceFilter($index)"
             ng-class="{'button-dark': $index === filters.price}">{{item}}</a>
        </div>
        <!--<label class="item item-input item-select">
          <div class="input-label">
            Price
          </div>

          <select ng-model="data.price"
                  ng-options="c.label for c in filterValues.priceRanges"
                  ng-change="updatePriceFilter()"></select>
        </label>-->


        <div class="item item-divider">
          Minimum rating
        </div>
        <div class="item item-text-wrap">
          <rating ng-model="filters.rating" max="filterValues.rating.max"></rating>
        </div>
        <div class="item item-divider">
          Distance: <span class="royal">{{filters.distance}}km</span>
        </div>
        <div class="item range range-royal">
          <i class="icon ion-ios-location-outline"></i>
          <input type="range" name="distance" min="{{filterValues.distance.min}}" max="{{filterValues.distance.max}}"
               value="filters.distance"
               ng-model="filters.distance">
           <i class="icon ion-ios-location"></i>
        </div>

      </ion-list>
    <div class="padding">
      <button class="button button-block button-royal icon-right ion-log-out" ng-click="applyFilters()">
        Apply filters
      </button>
    </div>

  </ion-content>

</ion-view>
