<ion-view view-title="Payments" hide-back-button="false" hide-nav-bar="">
  <ion-content class="profile-settings">
  <div class="list payments-cards card">


    <a class="item item-icon-left item-icon-right" href="#">
      <i class="icon ion-card"></i>
      Personal <span>&#183;&#183;&#183;&#183;</span>&#32;3388
      <i class="icon ion-checkmark"></i>
    </a>

    <a class="item item-icon-left" href="#">
      <i class="icon ion-card"></i>
      Personal <span>&#183;&#183;&#183;&#183;</span>&#32;9378
    </a>


  </div>
    <div class="list payments-cards card">

      <a class="item item-icon-left add-card" ng-click="goToAddCard()">
        <i class="icon ion-plus-circled"></i>
        Add Card
      </a>
    </div>
  </ion-content>

</ion-view>
