
<ion-tabs class="tabs-striped tabs-background-royal tabs-color-light" ng-class="{'tabs-item-hide': $root.hideTabs}">

  <!-- Hide this first tab item to get login/signup nav stack -->
  <ion-tab title="signup" hidden="true" icon="ion-log-in" href="#/tab/signup">
    <ion-nav-view name="tab-signup"></ion-nav-view>
  </ion-tab>

  <ion-tab title="signin" hidden="true" icon="ion-log-in" href="#/tab/signin">
    <ion-nav-view name="tab-signin"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Map" icon="ion-home" href="#/tab/map">
    <ion-nav-view name="tab-map"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Chats" icon="ion-heart" href="#/tab/favorites">
    <ion-nav-view name="tab-favorites"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Chats" icon="ion-plus" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Chats" icon="ion-ios-bell" badge="3" badge-style="badge-assertive" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Account" icon="ion-person" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
