.favorites{
  //background:red;
.list{
  .item-avatar .item-content{
    padding-left:90px;
    img{

      top:0;
      left:0;
      max-width: 80px;
      max-height: 80px;
      border-radius:0px;
    }
  }
}
}
