
.filters {
  .ion-ios-star {
    color: $royal;
  }
  .services{
    padding:0;
    text-align:center;
    vertical-align: bottom;
    //background:black;
    .services-item{
      height:90px;
      vertical-align: bottom;
      &.Coaching{
        //background-image:url('../img/icons-filter/coaching.png')
      }
      img{
        //width:100%;
        max-height:15vw;
        max-width:15vw;
        line-height:90px;
        display:inline-block;
        vertical-align: bottom;
        margin:0 0 8px 0;
      }
    }
  }

  .price-bar {
    .button {
      color: $royal;
    }

    .button.button-dark {
      color: $light;
    }
  }

}


